{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}


{% block body %}
    <h1>Patient index</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Prenom</th>
                {# <th>Numero_avs</th>
                <th>Date_naissance</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                {# <td>{{ patient.id }}</td> #}
                <td>{{ patient.nom }}</td>
                <td>{{ patient.prenom }}</td>
                {# <td>{{ patient.numeroAvs }}</td>
                <td>{{ patient.dateNaissance ? patient.dateNaissance|date('Y-m-d') : '' }}</td> #}
                <td>
                    <a href="{{ path('patient_show', {'id': patient.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">rien trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Ajouter patient</h2>

    {{ include('patient/_form.html.twig') }}



{% endblock %}
