{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
    <h1>Patient</h1>
{#                                        ?? et bien avant le label qui est sencé changer le "save" de base mais ca marche pas                #}
    {{ include('patient/_form.html.twig',{form:patientForm}, {'button_label': 'Update'} ) }}

    <a href="{{ path('patient_index') }}">retour à la liste</a>

    {# <a href="{{ path('patient_edit', {'id': patient.id}) }}">edit</a> noneed#}

    {{ include('patient/_delete_form.html.twig') }}

        <h2>Interner</h2>

    {{ include('admission/_form.html.twig') }}

{% endblock %}
