{% extends 'base.html.twig' %}

{% block title %}Edit Hopital{% endblock %}

{% block body %}
    <h1>Edit Hopital</h1>

    {{ include('hopital/_form.html.twig', {'button_label': 'Update'}) }}

<h2>Liste des chambres</h2>
    <p>petit probleme d'agenda pour les admissions sorry ¯\_(ツ)_/¯</p>

{% for chambre in hopital.chambres %}
<ul>
    <li>
    {{ chambre.nom }} 

    {{ include('chambre/_delete_form.html.twig') }}</a>
    </li>
</ul>
{% endfor %}

    <a href="{{ path('hopital_index') }}">retour à la liste</a>

    {{ include('hopital/_delete_form.html.twig') }}
{% endblock %}
