{% extends 'base.html.twig' %}

{% block title %}Hopital index{% endblock %}

{% block body %}
    <h1>Hopital index</h1>
    <p>edit uniquement depuis ici sorry ¯\_(ツ)_/¯</p>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                {# <th>Adresse</th>
                <th>Code_postale</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for hopital in hopitals %}
            <tr>
                {# <td>{{ hopital.id }}</td> #}
                <td>{{ hopital.nom }}</td>
                {# <td>{{ hopital.adresse }}</td>
                <td>{{ hopital.codePostale }}</td>
                <td>{{ hopital.ville }}</td>
                <td>{{ hopital.pays }}</td> #}
                <td>
                    <a href="{{ path('hopital_show', {'id': hopital.id}) }}">show</a>
                    <br>
                    <a href="{{ path('hopital_edit', {'id': hopital.id}) }}">edit</a>
                    {# <a href="{{ path('hopital_delete', {'id': hopital.id}) }}">delete</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('hopital_new') }}">Create new</a> #}
{% endblock %}
