{% extends 'base.html.twig' %}

{% block title %}Hopital{% endblock %}

{% block body %}

<h1>Hopital</h1>

<table class="table">
    <tbody>
        {# <tr>
            <th>Id</th>
            <td>{{ hopital.id }}</td>
        </tr> #}
        <tr>
            <th>Nom</th>
            <td>{{ hopital.nom }}</td>
        </tr>
        {# <tr>
            <th>Adresse</th>
            <td>{{ hopital.adresse }}</td>
        </tr>
        <tr>
            <th>Code_postale</th>
            <td>{{ hopital.codePostale }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ hopital.ville }}</td>
        </tr>
        <tr>
            <th>Pays</th>
            <td>{{ hopital.pays }}</td>
        </tr> #}
    </tbody>
</table>
<a href="{{ path('hopital_edit', {'id': hopital.id}) }}">edit</a>
<h2>Liste des chambres</h2>
{% for chambre in hopital.chambres %}
<ul>
    <li>{{ chambre.nom }}</li> 
    <a href="{{ path('patient_show', {'id': admission.patient.id}) }}">show</a>

    {% for admission in chambre.admissions %}
        Date d'entrée : {{ admission.dateDebut|date('d.m.Y')}}
        <ul>
            <li>Patient : {{ admission.patient }}</li>
            <a href="{{ path('patient_show', ({'id': admission.patient.id})) }}"> Plus d'information </a>
        </ul>
    {% endfor %}
</ul>
{% endfor %}

<a href="{{ path('hopital_index') }}">back to list</a>

<a href="{{ path('hopital_edit', { id: hopital.id }) }}">edit</a>

{{ include("hopital/_delete_form.html.twig") }}
{% endblock %}