<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                                 !!! wtf !!! 
            {% endblock %}
        </title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
    <header>
        {% block menu %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="navbar-brand" href="{{ path('patient_index') }}">Patients</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="navbar-brand" href="{{ path('hopital_index') }}">Hopitaux</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="navbar-brand" href="{{ path('admission_index') }}">Admissions</a>
                </li>
            </ul>
        </nav>
        {% endblock %}
    </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
