<form method="post" action="{{ path('admission_cloturer', {'id': admission.id}) }}" onsubmit="return confirm('Are you sure you want to cloturer this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('cloturer' ~ admission.id) }}">
    <button class="btn">cloturer</button>
</form>
