{% extends 'base.html.twig' %}

{% block title %}Admission index{% endblock %}

{% block body %}
    <h1>Admission index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admission in admissions %}
            <tr>
                <td>{{ admission.id }}</td>
                <td>{{ admission.dateDebut ? admission.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ admission.dateFin ? admission.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                
                {% if admission.dateFin == null %}
                <td>
                    {{ include('admission/_delete_form.html.twig') }}
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">rien trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('admission_new') }}">Create new</a> #}
{% endblock %}
